// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$vert-button: #2A9D8F;
$vert-fonce: #075C51;
$vert-clair: #C5CDCC;
$vert-fon-fonce: #043731;

$bleu-deep: #00272a;
$bleu-cool: #027f8a;
$bleu-froid: #abe2e7;
$bleu-ultra-clair: #e5f5f8;
$gris: #b3b3b3;
$vert-button: #2A9D8F;
