// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;  // This will cover the full viewport height
  display: flex;  // Using Flexbox to center content
  align-items: center;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  margin-bottom: 30px;
  color: var(--noir, #000); // using the color variable, defaulting to black
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  // These are your specifications for h1
  width: 551px;
  height: 141px;
  flex-shrink: 0;
  font-family: 'Jockey One', sans-serif; // Ensure Jockey One is imported or available in your stylesheets
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner a.btn {
  width: 254px;
  // height: 44px;
  flex-shrink: 0;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.30);


  background: $vert-button;

  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white; // Assuming you want white text color for the button
  text-align: center;
  // line-height: 44px;
  text-decoration: none;
  display: inline-block;
  font-family: Jockey One;
  color: var(--white, #FFF);

  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
