.discovery-card-wrapper{
  width: 100%;
}
.discover-container {
  padding: 50px 20px;
  column-count: 5;
  gap: 15px;

  .discover-card {
    border-radius: 8px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;

    img {
      border-radius: 8px;
      max-width: 100%;
      height: auto;
      display: block;
      flex-shrink: 0;
    }
    .like-icon-container{
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .like-icon {
      font-size: 180%;
    }


    .discover-info{
      font-family: Inter;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      position: absolute;
      bottom: -45px;
      transition: .3s ease-in-out;
      right: 0;
      background-color: $vert-fonce;
      width: 100%;
      text-decoration: none;
      color: white;
      text-align: center;
    }
    &:hover .discover-info {
      bottom: 0;
      transition: .2s ease-in-out;
    }
  }
}
