$bleu-deep: #00272a;
$bleu-cool: #027f8a;
$bleu-froid: #abe2e7;
$bleu-ultra-clair: #e5f5f8;
$gris: #b3b3b3;
$vert-button: #2A9D8F;
$vert-clair: #c0ebc7; // Nouvelle couleur pour le panneau de déroulement
$vert-foncé: #22755a; // Nouvelle couleur pour le bouton actif

.title {
  position: relative;
  color: var(--noir, #000);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter-button {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 4px 8px;
  transform: translateY(-50%);
  border-radius: 20px;
  margin-right: 50px;

  border: 1px solid rgba(0, 0, 0, 0.70);
  cursor: pointer;
  background-color: var(--lighty-gray, #DDD);
  color: var(--noir, #000);

  &:active {
    background-color: $vert-button;
    color: white;
  }
}




.filters-panel {
  position: absolute;
  top: calc(50% + 25px);
  right: 60px;
  width: 20%;

  border: 1px solid #035359;
  background-color: #8ab3ad;

  border-radius: 20px;
  padding: 7px;
  z-index: 10;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 4px 8px rgba(170, 167, 167, 0.1);
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.filter-category label span {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;  // Taille du texte
  padding: 4px 8px;
  border-radius: 20px; // On garde votre rayon de bord
  background-color: #dfecea;  // Arrière plan des options
  color: $bleu-deep;  // Couleur du texte par défaut
  border: 1px solid $bleu-deep;  // Bordure
  margin-right: 0.6rem;  // Espacement à droite
  margin-bottom: 0.4rem;  // Espacement en bas
  transition: background-color 0.2s ease, transform 0.1s ease;  // Transition pour des effets fluides

  &:hover {
    // background-color: darken(#22755a, 5%);  // Foncé lors du survol
    // color: white;
    transform: scale(1.05);  // Petit effet de zoom lors du survol
  }
}

.tag-selector:checked + span {
  background-color: #22755a;  // Couleur d'arrière-plan lorsqu'il est coché
  color: white;  // Couleur du texte lorsqu'il est coché
  border: 1px solid #22755a;  // Bordure
}


  // Bouton Submit stylisé
  .submit-button {
    display: block;
    margin: 2px auto;
    padding: 5px 100px;
    background-color: #065d73;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: 'Inter';
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:active {
      background-color: $vert-foncé;
    }
  }
