$bleu-deep: #00272a;
$bleu-cool: #027f8a;
$bleu-froid: #abe2e7;
$bleu-ultra-clair: #e5f5f8;
$gris: #b3b3b3;
$vert-button: #2A9D8F;
$vert-clair: #c0ebc7; // Nouvelle couleur pour le panneau de déroulement
$vert-foncé: #22755a; // Nouvelle couleur pour le bouton actif

.title {
  position: relative;
  color: var(--noir, #000);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.70);
  cursor: pointer;
  background-color: var(--lighty-gray, #DDD);
  color: var(--noir, #000);
  border-radius: 20px;
  margin-right: 50px;

  &:active {
    background-color: $vert-button;
    color: white;
  }
}

.filters-panel {
  display: none;
  position: absolute;
  top: calc(50% + 25px);
  right: 70px; // Modifié pour l'aligner avec le bouton
  width: 23%;  // Un peu réduit pour le rendre plus petit
  border: 1px solid $bleu-deep;
  background-color: $vert-clair;
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 4px 8px rgba(170, 167, 167, 0.1);
}

.filter-category {
  margin-bottom: 10px;
  font-size: 16px;

  h3 {
    color: $bleu-deep;
    margin-bottom: 8px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }

  label {
    display: block;
    margin: 5px 0;
    position: relative;
    padding-left: 25px;
    cursor: pointer;

    input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      &:checked + span::before {
        background-color: $bleu-deep;
        color: white;
        content: '✓';
        text-align: center;
        line-height: 16px;
      }
    }

    span {
      display: block;
      padding: 5px 10px;
      border: 1px solid #0daa4a;
      background-color: #80ba92;
      color: white;
      border-radius: 20px;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        background-color: #FFF;
        border: 1px solid #b3b3b3;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.3s ease;
      }

      &:hover {
        background-color: darken(#456c51, 5%);
        transform: scale(1.05);
      }
    }
  }

  // Bouton Submit stylisé
  .submit-button {
    display: block;
    margin: 15px auto 0;
    padding: 10px 20px;
    background-color: $vert-button;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:active {
      background-color: $vert-foncé;
    }
  }
}

label input[type="checkbox"]:checked + span {
  background-color: $bleu-deep;
  color: white;
}
