.instrument-show-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 20px;
  gap: 50px;
  max-width: 100vw;

  .left-side-inst {
    height: calc(100vh - 117px);
  }
  .show-heart {
    // width: 26px;
    // height: 22.235px;
    font-size: 25px;
    flex-shrink: 0;
    position: absolute;
    right: 20px;
    z-index: 10;
  }
  .instrument-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .instrument-photo {
    height: 335px;
    width: 100%;
    border-radius: 8px;
    background-color: #C5CDCC;
    object-fit: contain;
    object-position: center;
  }
  .instrument-photo-2 {
    background-color: transparent;
    object-fit: cover;
  }
  .instrument-description {
    flex: 1;
    font-size: 1.2em;
    padding-right: 20px;

    .instrument-name {
      height: 60px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      color: var(--noir, #000);
      font-family: 'Fredoka One';
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
    }
    .instrument-attributes {
      height: 307px;

      .instrument-attribute,
      .instrument-attribute-long {
        margin: 5px 0;
        max

        strong {
          color: var(--noir, #430C05);
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .instrument-attribute-content,
        .instrument-attribute-content-long {
          font-family: 'Inter';
          font-size: 16px;
          font-weight: 400;
          color: var(--noir, rgba(0, 0, 0, 0.80));
        }

        .instrument-icon {
          display: inline-block;
          margin-right: 8px; // Spacing between icon and text
        }
      }
    }

    .instrument-attribute-content {
      color: var(--noir, #430C05); // Explicitly setting the color
      font-weight: 600;
    }
  }

  .instrument-video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 100px;


    iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
      height: auto;
      margin-top: 16px;
      border-radius: 8px;
    }
  }


  .instrument-audio {
    audio {
      display: block;
      width: 80%;
      margin: 30px 0 0 30px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    // Controls bar styling
    ::-webkit-media-controls-panel {
      background-color: #f5f5f5;  // Light grey background
      padding: 5px;
    }

    // Play button styling
    ::-webkit-media-controls-play-button {
      color: #4CAF50; // A shade of green
    }

      // Timeline styling
  ::-webkit-media-controls-timeline {
    cursor: pointer;
    border-radius: 8px;
  }

    // Volume styling
    ::-webkit-media-controls-volume-slider {
      cursor: pointer;
      border-radius: 8px;
    }
  }
}

.s-card-suggest-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.s-card-reco {
  width: 100%;
  margin: 0;
}
.suggestions_title{
  font-family: 'Fredoka One';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
}


// .fa-heart:before {
//   color: #000;
// }

// .fa-heart:after {
//   color: red;
// }
