

.container-quizz{
  position: absolute;
  top: 77px;
  left: 0px;
  width: 100%;
}

.title-quizz {
  font-family: 'Fredoka One';
  font-size: 32px;
  font-style: normal;
  font-weight: 30;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -34px;
}

.question-picture {
  height: 300px;
  background-color: #C5CDCC;
  margin-inline: 60px;
  text-align: center;
  border-radius: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  .quiz-instrument-info{
    box-shadow:5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;
    position: absolute;
    top: 210px;
    left: 80px;
    background: rgba(7, 92, 81, 0.75);
    border-radius: 50%;
    width: 38px;
    height: 36px;
    .quiz-info{
      padding-top: 9px;
    }
  }
  .next-question{
    box-shadow:5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;
    position: absolute;
    top: 210px;
    right: 80px;
    background: rgba(7, 92, 81, 0.75);
    border-radius: 50%;
    width: 38px;
    height: 36px;
    /* padding: 2px 7px 1px; */
    //padding: 7px 12px 5px;
    .arrow{
      padding-top: 9px;
    }
  }
}

.question-picture img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  padding-block: 20px;
}

.answer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 60px;
  //gap: 35px 50px;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 80px;
  cursor: pointer;
}

.answer-choice {
  background-color: #D2D396;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 100%;
  border-radius: 8px;
  height: 100px;
  transition: .3s ease-in-out;
}
.answer-choice:hover {
  background-color: #949557;
  transition: .3s ease-in-out;
  color: white;
}

.answer-choice.incorrect-answer {
  // background-color: #C82E2E;
  // background-color: #923737;
  background-color: #956557;
  transition: .3s ease-in-out;
}

.answer-choice.correct-answer {
  // background-color: #69CC46;
  // background-color: #648059;
  background-color: #739557;
  transition: .3s ease-in-out;
  color: white;
}
