<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://slack-imgs.com/?c=1&o1=ro&url=http%3A%2F%2Fwww.musicurious.online%2Fassets%2Fcover-67ec55c4ecc5e344f552cab1444af08b0b01ce9ae322576b721dc3e4ccf137b5.png);">
  <div class="container">
    <h1>Instruments of the world at your fingertips</h1>
    <%= link_to 'Explore', map_path, class: 'btn btn-flat' %>
  </div>
</div>
