<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'cover.png' %>);">
  <div class="container">
    <h1>Instruments of the world at your fingertips</h1>
    <%= link_to 'Explore', map_path, class: 'btn btn-flat' %>
  </div>
</div>
