<%@questions.each do |question|%>
  <div class='container-quizz' data-controller="quiz" data-quiz-target="quiz-container">
    <div class="title-quizz">
      <p>What is the name of this instrument?</p> <br>
    </div>
     <% instrument = Instrument.find(question.instrument_id) %>
    <div class="question-picture">
      <%= cl_image_tag instrument.picture.key, height:400, crop: :fill %>
    </div>
    <div class="answers-quizz-text">
      <% good_answer = question.instrument_id %>
      <% random_answers = Instrument.where.not(id: good_answer).order("RANDOM()").limit(3) %>
      <% answers = random_answers.pluck(:id) %>
      <% answers << good_answer %>
      <div class="answer-container" >
        <% answers.shuffle.each do |answer| %>
          <div class="answer-choice" data-action="click->quiz#answer" data-quiz-target="answer" data-is-correct="<%= answer == good_answer %>">
            <% instrument = Instrument.find(answer) %>
            <%= instrument.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
