<div class="discover-container">
  <% @instruments.shuffle.each do |instrument| %>
    <div class="discovery-card-wrapper">
      <div class="discover-card">
        <%= cl_image_tag instrument.photos.first.key, crop: :lfill, resize: :lpad unless instrument.photos.empty? %>
        <div class="like-icon-container">
          <i class="far fa-heart like-icon"></i>
        </div>
        <%= link_to instrument.name, instrument_path(instrument), class: "discover-info" %>
      </div>
    </div>
  <% end %>
</div>
