<%# <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> %>

<div class="discover-container">
  <% @instruments.each do |instrument| %>
    <div class="discovery-card-wrapper">
      <div class="discover-card">
        <%= cl_image_tag instrument.photos.first.key, crop: :lfill, resize: :lpad %>
        <div class="discover-heart-container"
            data-controller="likebutton"
            data-likebutton-target="get-id">
          <%= link_to instrument_favorites_path(instrument), data: {turbo_method: :post} do %>
            <% if Favorite.where(user: current_user, instrument: instrument).present? %>
              <i data-action = "click->likebutton#heart"data-likebutton-target="button"class="fa-solid fa-heart discover-heart all-heart"style="color: #027f8a;"></i>
            <% else %>
              <i data-action = "click->likebutton#heart"data-likebutton-target="button"class="fa-regular fa-heart discover-heart all-heart"style="color: #027f8a;"></i>
            <% end %>
          <% end %>
        </div>
        <%= link_to instrument.name, instrument_path(instrument), class: "discover-info" %>
      </div>
    </div>
  <% end %>
</div>
