<div class="discover-container">
  <% @instruments.shuffle.each do |instrument| %>
    <div class= "discovery-card-wrapper">
      <div class="discover-card" style="width: 100%;">
        <%= cl_image_tag instrument.photos.first.key, crop: :lfill, resize: :lpad unless instrument.photos.empty? %>
        <%= link_to instrument.name, instrument_path(instrument), class: "discover-info" %>
      </div>
    </div>
  <% end %>
</div>

<%# <div><i class="far fa-heart like-icon"></i></div> %>
